In [2]:
import pandas as pd
import time
from google.colab import drive
drive.mount('/content/drive')
jan = pd.read_csv('/content/drive/MyDrive/캡스톤디자인/data/1월쌩.csv')

Mounted at /content/drive

In [9]:
jan = pd.read_csv('/content/drive/MyDrive/캡스톤디자인/data/1월쌩.csv')

In [10]:
jan['minute'] = jan['minute'] = jan['time'].apply(lambda x: time.strftime('%Y/%m/%d %H:%M',time.localtime(x/1000)))

In [11]:
jan = jan.sort_values(by=['biSerial','minute'])

In [12]:
jan.head()

,Unnamed: 0,biSerial,time,status,gpsLat,gpsLong,speed,bt1Serial,bt2Serial,bt1Soc,bt2Soc,minute
1607427,15981,M2117D0007,1672810580000,1,37.356945,126.951148,0,NaN,BZLB00365S,0,644,2023/01/04 05:36
1607450,16004,M2117D0007,1672810582000,1,37.356945,126.951148,0,NaN,BZLB00365S,0,644,2023/01/04 05:36
1607469,16023,M2117D0007,1672810584000,1,37.357208,126.950973,0,NaN,BZLB00365S,0,644,2023/01/04 05:36
1607498,16052,M2117D0007,1672810587000,1,37.357208,126.950973,0,NaN,BZLB00365S,0,644,2023/01/04 05:36
1607516,16070,M2117D0007,1672810589000,1,37.357662,126.950500,0,NaN,BZLB00365S,0,644,2023/01/04 05:36

In [5]:
jan.drop_duplicates(['biSerial','minute'],keep='first',inplace=True)

In [7]:
jan = jan.sort_values(by=['biSerial','minute'])

In [8]:
jan.head()

,Unnamed: 0,biSerial,time,status,gpsLat,gpsLong,speed,bt1Serial,bt2Serial,bt1Soc,bt2Soc,minute
1607427,15981,M2117D0007,1672810580000,1,37.356945,126.951148,0,NaN,BZLB00365S,0,644,2023/01/04 05:36
1607796,16350,M2117D0007,1672810620000,1,37.357422,126.950325,0,NaN,BZLB00365S,0,644,2023/01/04 05:37
1608503,17057,M2117D0007,1672810701000,1,37.357552,126.950135,0,NaN,BZLB00365S,0,644,2023/01/04 05:38
1609349,17903,M2117D0007,1672810800000,1,37.357617,126.950157,0,NaN,BZLB00365S,0,644,2023/01/04 05:40
1406557,18347,M2117D0007,1672821158000,1,37.357632,126.950073,0,NaN,BZLB00365S,0,635,2023/01/04 08:32

In [ ]:
feb = pd.read_csv('/content/drive/MyDrive/캡스톤디자인/data/2월쌩.csv')
mar = pd.read_csv('/content/drive/MyDrive/캡스톤디자인/data/3월쌩.csv')

feb['minute'] = feb['minute'] = feb['time'].apply(lambda x: time.strftime('%Y/%m/%d %H:%M',time.localtime(x/1000)))
mar['minute'] = mar['minute'] = mar['time'].apply(lambda x: time.strftime('%Y/%m/%d %H:%M',time.localtime(x/1000)))
feb.drop_duplicates(['biSerial','minute'],keep='first',inplace=True)
mar.drop_duplicates(['biSerial','minute'],keep='first',inplace=True)

In [ ]:
jan.to_csv('/content/drive/MyDrive/캡스톤디자인/이병주/1_new.csv', index= False)
feb.to_csv('/content/drive/MyDrive/캡스톤디자인/이병주/2_new.csv', index= False)
mar.to_csv('/content/drive/MyDrive/캡스톤디자인/이병주/3_new.csv', index= False)